:root {
  --text-type-font: "Open Sans", sans-serif;
  --heading-font: "Roboto", sans-serif;
  --secondary-font: "Poppins", sans-serif;
  --black: #000000;
  --grey-dark: #1E2832;
  --grey: #777777;
  --grey-light: #F1F1F1;
  --grey-super-light: #E3E3E3;
  --red: #FF6F61;
  --white: #ffffff;
  --primary-bg: var(--white);
  --secondary-bg: var(--grey-light);
  --dark-btn-bg: var(--grey-dark);
  --primary-color: var(--black);
  --secondary-color: var(--grey);
  --highlight-color: var(--red);
}

html {
  overflow-x: hidden;
  font-size: 100%;
}

@media (prefers-reduced-motion: reduce) {
  * {
    animation: none !important;
    transition: none !important;
  }
}
* {
  margin: 0;
  padding: 0;
  border: 0;
  line-height: 1;
  box-sizing: border-box;
  vertical-align: baseline;
}

body {
  font-family: inherit;
  background-color: inherit;
  color: inherit;
}

h1, h2, h3, h4, h5, h6, p, span, a, strong, blockquote, i, b, u, em {
  font-family: inherit; /* ------------------------------------------- I did this one */
  font-size: 1rem;
  font-weight: inherit;
  font-style: inherit;
  text-decoration: none;
  color: inherit;
}

ul {
  list-style-type: none;
}

img, picture, video, iframe, figure {
  max-width: 100%;
  display: block;
  object-fit: cover; /* optional */
  object-position: center center; /* optional */
}

a {
  display: inline-block;
  text-decoration: none;
  color: inherit;
  font-size: inherit;
  line-height: inherit;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: "";
  content: none;
}

form, input, textarea, select, button, label {
  font-family: inherit;
  font-size: inherit;
  background-color: transparent;
  color: inherit;
  display: block;
  appearance: none;
}

input {
  display: inline-block;
}

table, tr, td {
  border-collapse: collapse;
  border-spacing: 0;
}

svg {
  width: 100%;
  display: block;
  fill: currentColor;
}

html {
  overflow-x: hidden;
}

body {
  overflow-x: hidden;
  max-width: 100%;
  min-width: 20rem;
  box-sizing: border-box;
}

body * {
  box-sizing: border-box;
}

.header,
.hero,
.section,
.footer__copyright {
  padding-left: calc(4.2687rem + 14.4813 * (100vw - 85.375rem) / 34.625);
  padding-right: calc(4.2687rem + 14.4813 * (100vw - 85.375rem) / 34.625);
}

.footer__company {
  padding-left: calc(4.2687rem + 14.4813 * (100vw - 85.375rem) / 34.625);
}

.footer__columns {
  padding-right: calc(4.2687rem + 14.4813 * (100vw - 85.375rem) / 34.625);
}

@media screen and (max-width: 85.375rem) {
  .header,
.hero,
.section,
.footer__copyright {
    padding-left: 5vw;
    padding-right: 5vw;
  }
  .footer__company {
    padding-left: 5vw;
  }
  .footer__columns {
    padding-right: 5vw;
  }
}
.ai-center {
  display: flex;
  align-items: center;
}

.blur {
  filter: blur(0.25rem);
  position: relative;
  z-index: -1;
}

px px px px px px h1 {
  font-size: calc(1.625rem + 3 * (100vw - 25rem) / 50);
}

h2 {
  font-size: calc(1.375rem + 1.4375 * (100vw - 25rem) / 50);
}

h4 {
  font-size: 1rem;
}

.big {
  font-size: calc(1.125rem + 0.75 * (100vw - 25rem) / 87.5);
}

@media screen and (min-width: 75.0625rem) {
  h1 {
    font-size: 4.625rem;
  }
  h2 {
    font-size: 2.8125rem;
  }
}
@media screen and (max-width: 25rem) {
  h1 {
    font-size: 1.625rem;
  }
  h2 {
    font-size: 1.375rem;
  }
  .big {
    font-size: 1.125rem;
  }
}
h1,
h2,
h3,
h4,
h5 {
  font-family: var(--heading-font);
}

.header__top {
  font-size: 0.875rem;
  color: var(--black);
}

.hero__header__p {
  width: 83%;
  line-height: 1.5;
  margin-top: clamp(1.25rem, 2vw, 3.25rem);
  margin-bottom: clamp(1.25rem, 2vw, 4.125rem);
}

h4 {
  font-family: var(--heading-font);
  font-weight: 500;
}

.footer ul li a {
  font-size: 0.875rem;
  font-family: var(-text-type-font);
}

@media screen and (max-width: 62.5rem) {
  .hero__header__p {
    width: 90%;
  }
}
@media screen and (max-width: 34.375rem) {
  .hero__header__p {
    margin-top: clamp(0.125rem, 2vw, 3.25rem);
    margin-bottom: clamp(0.125rem, 2vw, 4.125rem);
  }
}
@media screen and (max-width: 25rem) {
  h3, h4 {
    font-size: 0.875rem;
  }
  .footer h3, h4 {
    background-color: var(--grey-light);
    padding: 5px;
  }
}
.header__search__form {
  display: none;
  background-color: purple;
  color: orange;
}

.header__search__form {
  position: absolute;
  top: 2.5rem;
  left: 0rem;
  width: 100%;
  height: 3.125rem;
  background-color: darkblue;
  color: rgb(247, 247, 247);
  border: 0.125rem solid var(--grey-dark);
  border-radius: 0.5rem;
  display: none;
}

.show-header__search__form {
  display: flex;
}

.header__search__form__input {
  background-color: rgb(56, 54, 54);
  background-color: var(--grey-light);
  color: var(--grey-dark);
  flex: 1;
  padding-left: 1.25rem;
  border: 0;
  outline: none;
  border-top-left-radius: 0.5rem;
  border-bottom-left-radius: 0.5rem;
  font-size: 1.25rem;
}

.header__search__form__submit {
  width: 10%;
  background-color: var(--grey-dark);
  color: var(--white);
}

.btn-big {
  line-height: 1.5;
  background-color: var(--grey-dark);
  color: var(--white);
  padding: 9px 26px;
  font-weight: 400;
  font-size: calc(1.125rem + 0.75 * (100vw - 25rem) / 87.5);
}

.btn-big > i {
  margin-right: 0.5rem;
  font-size: inherit;
}

.bg-white {
  background-color: var(--white);
  color: var(--black);
}

.header__bottom {
  padding-top: 1.875rem;
  position: relative;
}

.header__bottom__nav {
  display: flex;
  justify-content: space-between;
  text-align: right;
}

.header__bottom__nav__a {
  padding: 0.3125rem;
  text-align: center;
}

.header-mobile-menu-icon {
  display: none;
  order: 3;
}

.user-account-mobile,
.user-cart-mobile {
  display: none;
}

@media screen and (max-width: 55.0625rem) {
  .header__bottom__nav {
    position: absolute;
    top: 0rem;
    right: -145vw;
    width: 15.3125rem;
    height: calc(100vh - 3.75rem);
    background-color: var(--secondary-bg);
    box-shadow: rgba(0, 0, 0, 0.24) 0rem 0.1875rem 0.5rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    transition: all, 0.5s;
    z-index: 1000;
  }
  .header__bottom__nav {
    flex-direction: column;
    justify-content: flex-start;
    transition: all, 0.5s;
  }
  .header__bottom__nav a {
    padding: 1.25rem;
    padding: 4vh;
  }
  .header__bottom__nav a {
    padding: 1.25rem;
    padding: 4vh;
    padding: clamp(0.625rem, 2vw, 1.125rem);
    text-align: right;
  }
  .header__bottom__nav a:hover {
    background-color: var(--grey-super-light);
  }
  .user-account-mobile,
.user-cart-mobile {
    display: flex;
    text-align: right;
    justify-content: space-between;
    color: blue;
    font-weight: bold;
  }
  .header-mobile-menu-icon {
    display: block;
    margin-left: 1.875rem;
  }
  .showMobileMenu {
    right: -1.6875rem;
  }
  .showMobileMenu {
    right: -0.6875rem;
  }
}
.new__header {
  padding-bottom: 2.1875rem;
  text-align: center;
}

ul.products-nav {
  display: flex;
  gap: 4%;
  padding-top: 2.8125rem;
  padding-bottom: 2.1875rem;
  font-family: var(--secondary-font);
  align-items: center;
}

ul.products-nav > li {
  cursor: pointer;
}

ul.products-nav > li:last-child {
  margin-left: auto;
  background: black;
  padding: 0.3125rem;
  color: white;
}

.hideProductFromSearch {
  display: none !important;
}

@media screen and (max-width: 85.375rem) {
  ul.products-nav {
    gap: 4%;
  }
}
@media screen and (max-width: 31.25rem) {
  ul.products-nav {
    /* display: flex; */
    gap: 4%;
    padding-top: 0.9375rem;
    padding-bottom: 0.9375rem;
    font-family: var(--secondary-font);
    align-items: center;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  ul.products-nav > li {
    background-color: #1e2832;
    color: white;
    padding: 0.25rem;
  }
  .advanced-filter-button {
    display: none;
  }
}
.products-card-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1.25rem;
}

.product-card {
  font-family: var(--text-type-font);
  font-size: 1rem;
  display: flex;
  flex-direction: column;
}

.product-card img {
  width: 100%;
}

.product-card__header {
  order: 2;
}

.product-card__header__h3 {
  margin-top: 1.125rem;
  margin-bottom: 0.9375rem;
  font-weight: 600;
  color: var(--black);
}

.product-card__header__p {
  display: flex;
  justify-content: space-between;
  color: var(--grey);
}

.product-card__header__p > span {
  color: var(--black);
  font-weight: 600;
}

.product-card__header__p > del {
  margin-left: auto;
  margin-right: 0.75rem;
}

.product-card-hot {
  position: absolute;
  top: 1.375rem;
  padding: 4px 0.75rem;
  color: var(--white);
  font-size: 0.75rem;
  font-weight: 600;
  line-height: 1.5;
}

.red-btn {
  background-color: var(--red);
}

.black-btn {
  background-color: var(--black);
}

.product-card__content {
  position: relative;
  overflow: hidden;
  order: 1;
}

.product-card__description {
  position: absolute;
  bottom: -2.3125rem;
  left: 0;
  width: 100%;
  background-color: var(--grey-dark);
  color: white;
  padding: 0.9375rem 0.625rem;
  transition: all 0.2s;
}

.product-card__description__title {
  display: flex;
  justify-content: space-between;
}

.product-card:hover .product-card__description {
  bottom: 0;
}

.product-card:not(:last-child):hover .product-card__description {
  bottom: 0;
}

@media screen and (max-width: 61.25rem) {
  .products-card-container {
    grid-template-columns: repeat(auto-fill, minmax(10.625rem, 1fr));
  }
}
@media screen and (max-width: 36.375rem) {
  .products-card-container {
    grid-template-columns: 1fr 1fr;
  }
}
@media screen and (max-width: 27rem) {
  .product-card__header__p {
    display: none;
  }
}
.header {
  background-color: var(--secondary-bg);
  padding-top: clamp(1.25rem, 1.62vw, 1.9375rem);
  position: relative;
  font-family: var(--secondary-font);
}

.header__top {
  display: flex;
  align-items: center;
  border-bottom: 0.0625rem solid #E3E3E3;
  z-index: 10;
  position: relative;
}

.header__search__icon {
  cursor: pointer;
}

.ecommerce-logo {
  width: 11.25rem;
  margin-left: 41.5%;
}

.user-details {
  margin-left: auto;
  display: flex;
  align-items: center;
}

.user-account {
  display: flex;
  align-items: center;
  margin-right: 1.5rem;
  cursor: pointer;
}

.user-cart {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.user-details i,
.user-cart i {
  margin-right: 0.5rem;
}

@media screen and (max-width: 55.0625rem) {
  .header__top {
    display: flex;
  }
  .header__search {
    order: 1;
    margin-left: auto;
  }
  .ecommerce-logo {
    order: 0;
    margin-left: inherit;
  }
  .user-details {
    display: none;
  }
}
.hero {
  background-color: var(--secondary-bg);
  font-family: var(--heading-font);
  display: flex;
  padding-top: 5.0625rem;
  padding-bottom: 3.75rem;
  line-height: 1.5;
}

.hero__header {
  width: 58.1%;
  padding-top: clamp(1.875rem, 5vw, 9.6875rem);
  padding-bottom: clamp(2.125rem, 5vw, 11.5rem);
}

.hero__figure {
  width: 41.9%;
}

@media screen and (max-width: 55.0625rem) {
  .hero {
    padding-top: clamp(0.125rem, 1vw, 5.0625rem);
    padding-bottom: clamp(0.125rem, 1vw, 3.75rem);
  }
  .hero__header__p {
    width: 88%;
  }
}
@media screen and (max-width: 37.5rem) {
  .hero__figure {
    height: auto;
  }
  .hero__figure img {
    height: 100%;
  }
}
.brands {
  padding-top: clamp(1.875rem, 2vw, 5.625rem);
  padding-bottom: clamp(1.875rem, 2vw, 5.625rem);
  display: grid;
  grid-template-columns: repeat(5, 1fr);
}

.explore__header {
  display: none;
}

.products {
  display: flex;
  gap: 24px;
}

.products__left {
  flex: 1;
}

.products__right {
  flex: 1;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1.25rem;
}

.show-on-lg {
  display: block !important;
}

.hide-on-lg {
  display: none !important;
}

@media screen and (max-width: 55.0625rem) {
  .show-on-lg {
    display: none !important;
  }
  .hide-on-lg {
    display: block !important;
  }
}
.new {
  padding-top: 8.75rem;
  padding-bottom: 8.75rem;
}

@media screen and (max-width: 75rem) {
  .new {
    padding-top: clamp(1.875rem, 12vw, 8.75rem);
    padding-bottom: clamp(1.875rem, 12vw, 8.75rem);
  }
}
.banner {
  min-height: 40.42vw;
  background-image: url(../../images/06-banner/banner-background.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  color: var(--white);
  padding-top: 3.125rem;
  padding-bottom: 3.125rem;
}

.banner__header {
  width: 43.5%;
  margin-left: auto;
  position: relative;
}

.banner__header > img {
  width: 40%;
  height: auto;
}

.banner__p {
  margin-top: clamp(0.9375rem, 1vw, 3.4375rem);
  margin-bottom: clamp(1.25rem, 1vw, 4.125rem);
  line-height: 160%;
  font-family: var(--heading-font);
  font-weight: 400;
}

@media screen and (max-width: 50.875rem) {
  .banner__header {
    width: 60%;
    margin-left: auto;
    position: relative;
  }
}
@media screen and (max-width: 27.875rem) {
  .banner {
    background: linear-gradient(rgba(0, 0, 0, 0.219), rgba(0, 0, 0, 0.219)), url(../../images/06-banner/banner-background.png);
    background-position: top;
    background-size: cover;
  }
  .banner__header {
    width: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background: rgba(2, 3, 94, 0.164);
    padding: 10px;
  }
}
.bestsellers {
  padding-top: 8.75rem;
  padding-bottom: 8.75rem;
}

.bestsellers__header {
  padding-bottom: 2.1875rem;
  text-align: center;
}

@media screen and (max-width: 75rem) {
  .bestsellers {
    padding-top: clamp(1.875rem, 12vw, 8.75rem);
    padding-bottom: clamp(1.875rem, 12vw, 8.75rem);
  }
}
.follow {
  padding-top: 6.25rem;
  padding-bottom: 4.375rem;
  background-color: var(--grey-light);
  text-align: center;
}

.follow__header {
  padding-bottom: 3.75rem;
}

.follow__instagram-products {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 1.5rem;
}

.instagram-product {
  position: relative;
}

.instagram-product img {
  width: 100%;
}

@media screen and (max-width: 75rem) {
  .follow {
    padding-top: clamp(1.875rem, 12vw, 8.75rem);
    padding-bottom: clamp(1.875rem, 12vw, 8.75rem);
  }
  .follow__header {
    padding-bottom: clamp(1.25rem, 5vw, 3.75rem);
  }
}
@media screen and (max-width: 52.5rem) {
  .follow__instagram-products {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media screen and (max-width: 28.125rem) {
  .follow__instagram-products {
    grid-template-columns: repeat(2, 1fr);
  }
}
.instagram-product--hover {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  transform: scale(0, 0);
  background-color: rgba(0, 0, 0, 0.452);
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.5s;
  opacity: 0;
  cursor: pointer;
}

.instagram-product {
  overflow: hidden;
}

.instagram-product:hover .instagram-product--hover {
  opacity: 1;
  transform: scale(1, 1);
}

.follow .bxl-instagram {
  font-size: 2.625rem;
  color: var(--white);
}

.subscribe {
  padding-bottom: 6.25rem;
  background-color: var(--grey-light);
}

.subscribe > header {
  text-align: center;
}

.subscribe form {
  margin-top: 5rem;
  display: flex;
  font-family: var(--text-type-font);
}

input[type=text],
input[type=submit] {
  border-bottom: 0.0625rem solid var(--black);
  text-transform: capitalize;
  padding: 0.625rem;
}

input[type=text] {
  width: 50%;
  margin-left: 20%;
  outline: none;
  padding-left: 0.9375rem;
}

input[type=submit] {
  width: 10%;
  margin-left: 1.6875rem;
  font-size: 1rem;
  cursor: pointer;
}

@media screen and (max-width: 75rem) {
  .subscribe {
    padding-bottom: clamp(0.625rem, 12vw, 6.25rem);
  }
}
@media screen and (max-width: 62.5rem) {
  .subscribe form {
    margin-top: clamp(1.25rem, 3vw, 5rem);
    display: flex;
    font-family: var(--text-type-font);
  }
}
@media screen and (max-width: 48rem) {
  .subscribe form {
    display: flex;
    flex-direction: column;
    padding: 1.25rem;
  }
  input[type=text],
input[type=submit] {
    flex: 1;
    width: 100%;
    border: 0.0625rem solid var(--black);
    text-transform: capitalize;
    margin-left: 0;
    padding: 0.625rem;
    color: var(--black);
    margin-bottom: 0.9375rem;
  }
  input[type=submit] {
    background-color: var(--black);
    color: var(--white);
  }
}
.footer {
  padding-top: 8.75rem;
  font-family: var(--secondary-font);
}

.footer__top {
  padding-bottom: 6.625rem;
  display: flex;
  gap: 6.27%;
}

.footer__company {
  width: 40%;
}

.footer__company__logo {
  width: 11.25rem;
  height: 2.125rem;
}

.footer__company__p {
  padding-top: 1.875rem;
  padding-bottom: 2.4375rem;
  line-height: 180%;
}

.footer-social {
  display: flex;
}

.footer__social > i {
  font-size: 1.25rem;
  color: var(--black);
}

.footer__social > i:not(last-child) {
  margin-right: 2.25rem;
}

.footer__columns {
  display: flex;
  width: 60%;
  justify-content: space-around;
}

.footer__col {
  padding: 0.625rem;
}

.footer__col ul {
  margin-top: 1.5625rem;
}

.footer__col ul li {
  line-height: 1.5rem;
  margin-bottom: 0.75rem;
}

.footer__copyright {
  display: flex;
  justify-content: space-between;
  padding-top: 0.875rem;
  padding-bottom: 0.875rem;
  background-color: var(--grey-dark);
  color: var(--white);
}

@media screen and (max-width: 75rem) {
  .footer {
    padding-top: clamp(1.25rem, 12vw, 8.75rem);
  }
  .footer__top {
    padding-bottom: clamp(1.25rem, 12vw, 6.625rem);
  }
}
@media screen and (max-width: 38.375rem) {
  .footer__top {
    flex-direction: column;
  }
  .footer__company,
.footer__columns {
    width: 100%;
  }
  .footer__company {
    margin-bottom: 1.875rem;
  }
}
@media screen and (max-width: 25rem) {
  .footer__columns {
    flex-direction: column;
  }
  .footer__col__ul {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
}/*# sourceMappingURL=main.css.map */