
.btn-big {
    line-height: 160%;
    background-color: var(--grey-dark);
    color: var(--white);
    font-weight: 400;
    padding-top: clamp(5px, .5vw, 21px);
    padding-bottom: clamp(5px, .5vw, 21px);
    padding-left: clamp(10px, 1vw, 26px);
    padding-right: clamp(10px, 1vw, 26px);
}

.btn-big {
    font-size: calc(16px + (30 - 16) * ((100vw - 400px) / (1919 - 400)));
}

.btn-big > i {
    margin-right: 0.5rem;
    font-size: inherit;
}

.bg-white {
    background-color: var(--white);
    color: var(--black);
}


@media screen and (min-width: 1920px) {
    .btn-big {
        font-size: 30px;
        color: rgb(255, 255, 255);
        background-color: black;
        padding: 22px 26px;
    }
}

@media screen and (max-width: 400px) {
    .btn-big {
        padding: 10px 14px;
        background: purple;
    }
}


// ============================== 
// ============================== 
// ============================== 