
.btn-big {
    background-color: var(--grey-dark);
    color: var(--white);
    font-weight: 400;
    font-size: calc(1rem + (1.875 - 1) * ((100vw - 25rem) / (119.9375 - 25)));
    line-height: 160%;
    padding-top: clamp(0.3125rem, .5vw, 1.3125rem);
    padding-bottom: clamp(0.3125rem, .5vw, 1.3125rem);
    padding-left: clamp(0.625rem, 1vw, 1.625rem);
    padding-right: clamp(0.625rem, 1vw, 1.625rem);
}

.btn-big > i {
    margin-right: 0.5rem;
    font-size: inherit;
}

.bg-white {
    background-color: var(--white);
    color: var(--black);
}


@media screen and (min-width: 120rem) {
    .btn-big {
        font-size: 1.875rem;
        color: rgb(255, 255, 255);
        background-color: black;
        padding: 1.375rem 1.625rem;
    }
}

@media screen and (max-width: 25rem) {
    .btn-big {
        padding: 0.625rem 0.875rem;
    }
}


