
.header__bottom { 
    padding-top: 30px;
    position: relative;
}

.header__bottom__nav {
    display: flex;
    justify-content: space-between;
    text-align: right;
}

.header-mobile-menu-icon {
    display: none;
    order: 3;
}

.user-account-mobile,
.user-cart-mobile {
    display: none;
}

@media screen and (max-width: 881px) {

    // .header__bottom {
    //     position: absolute;
    //     top: 0px;
    //     right: -41px;
    //     width: 245px;
    //     height: calc(100vh - 60px);
    //     background-color: var(--secondary-bg); 
    //     box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

    //     flex-direction: column;
    //     justify-content: flex-start;
    //     transition: all, 0.5s;
    //     display: none;

    //     display: flex;
    //     right: -105vw;
    // }
    .header__bottom__nav {
        position: absolute;
        top: 0px;
        right: -41px;
        width: 245px;
        height: calc(100vh - 60px);
        background-color: var(--secondary-bg); 
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

        flex-direction: column;
        justify-content: flex-start;
        transition: all, 0.5s;
        display: none;

        display: flex;
        right: -105vw;
    }

    .header__bottom__nav {

        flex-direction: column;
        justify-content: flex-start;
        transition: all, 0.5s;

    }








    .header__bottom__nav a {
        padding: 20px;
    }

    .header__bottom__nav a:hover {
        // background-color: rgb(163, 163, 163);
        background-color: var(--grey-super-light);
    }

    .user-account-mobile,
    .user-cart-mobile {
        display: flex;
        text-align: right;
        justify-content: space-between;
        color: blue;
        font-weight: bold;
    }

    .header-mobile-menu-icon {
        display: block;
        margin-left: 30px;
    }
    
    .showMobileMenu {
        // display: flex;
        right: 0;
    }

}

// @media screen and (max-width: 672px) {
 
// }
