
.header__bottom { 
    padding-top: 1.875rem;
    position: relative;
}

.header__bottom__nav {
    display: flex;
    justify-content: space-between;
    text-align: right;
}

.header__bottom__nav__a {
    padding: 0.3125rem;
    text-align: center;
}

.header-mobile-menu-icon {
    display: none;
    order: 3;
}

.user-account-mobile,
.user-cart-mobile {
    display: none;
}

@media screen and (max-width: 55.0625rem) {    
    
    .header__bottom { 
        padding-top: 1.875rem;
        padding-top: 0;
        position: relative;
        transition: all .4s;
    }

    .header__bottom__nav {
        position: absolute;
        top: 0rem;
        right: -145vw;
        width: 15.3125rem;
        height: calc(100vh - 3.75rem);
        background-color: var(--secondary-bg); 
        box-shadow: rgba(0, 0, 0, 0.24) 0rem 0.1875rem 0.5rem;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        transition: all, 0.5s;
        z-index: 1000;
    }

    .header__bottom__nav a {
        padding: 1.25rem;
        padding: 4vh;
        padding: clamp(0.625rem, 2vw, 1.125rem);
        text-align: right;
    }

    .header__bottom__nav a:hover {
        background-color: var(--grey-super-light);
    }

    .user-account-mobile,
    .user-cart-mobile {
        display: flex;
        text-align: right;
        justify-content: space-between;
        color: blue;
        font-weight: bold;
    }

    .header-mobile-menu-icon {
        display: block;
        margin-left: 1.875rem;
    }
    
    .showMobileMenu {
        right: -1.6875rem;
    }

    .showMobileMenu {
        right: -0.6875rem;
    }

}

