
.header__search__form {
    position: absolute;
    top: 2.5rem;
    left: 0rem;
    width: 100%;
    height: 3.125rem;
    background-color: darkblue;
    color: rgb(247, 247, 247);
    border: 0.125rem solid var(--grey-dark);
    border-radius: 0.5rem;
    display: none;
}

.show-header__search__form {
    display: flex;
}

.header__search__form__input {
    background-color: var(--grey-light);
    color: var(--grey-dark);
    flex: 1;
    padding-left: 1.25rem;
    border: 0;
    outline: none;
    border-top-left-radius: 0.5rem;
    border-bottom-left-radius: 0.5rem;
    font-size: 1.25rem;
}

.header__search__form__submit {
    width: 10%;
    background-color: var(--grey-dark);
    color: var(--white);

}