:root {
    // Fonts 
    --text-type-font: 'Open Sans', sans-serif;
    --heading-font: 'Roboto', sans-serif;
    
    
    // font-family: 'Open Sans', sans-serif;
    // font-family: 'Poppins', sans-serif;
    // font-family: 'Roboto', sans-serif;
    
    
    // colors
    --black: #000000;
    --grey-dark: #1E2832;
    --grey: #777777;
    --grey-light:  #F1F1F1;
    --grey-super-light:  #E3E3E3;
                        // #E1DFDF
    --red: #FF6F61;
    --white: #ffffff;
    // ===================
    --primary-bg: var(--white);
    --secondary-bg: var(--grey-light);
    --dark-btn-bg: var(--grey-dark);
    
    --primary-color: var(--black);
    --secondary-color:  var(--grey);
    --highlight-color: var(--red);
    
    
    }
    