.explore__header { 
    display: none;
}

.products {
    display: flex;
    gap: 1.5rem;
}

.products__left {
    flex: 1;
}

.products__right {
    flex: 1;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1.25rem;
}

.show-on-lg { 
    display: block !important;
}

.hide-on-lg { 
    display: none !important;
}


@media screen and (max-width: 55.0625rem) {
    .show-on-lg { 
        display: none !important;
    }

    .hide-on-lg { 
        display: block !important;
    }

}