.new {
    padding-top: 8.75rem;
    padding-bottom: 8.75rem;
}

@media screen and (max-width: 75rem) {
    .new {
        padding-top: clamp(1.875rem, 12vw, 8.75rem);
        padding-bottom: clamp(1.875rem, 12vw, 8.75rem);
    }
}