.banner {
    min-height: 40.42vw;
    background-image: url(../../images/06-banner/banner-background.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    display: flex;
    align-items: center;
    color: var(--white);
    padding-top: 3.125rem;
    padding-bottom: 3.125rem;
    font-family: var(--heading-font);
}

.banner__header {
    width: 43.5%;
    margin-left: auto;
    position: relative;
}

.banner__header > img {
    width: 40%;
    height: auto;
}

.banner__p {
    margin-top: clamp(0.9375rem, 1vw, 3.4375rem);
    margin-bottom: clamp(1.25rem, 1vw, 4.125rem);
    line-height: 160%;
    font-family: var(--heading-font);
    font-weight: 400;
}


@media screen and (max-width: 50.875rem) {
    .banner__header {
        width: 60%;
        margin-left: auto;
        position: relative;
    }
}

@media screen and (max-width: 27.875rem) {
    .banner {
        background: linear-gradient(rgba(0, 0, 0, 0.219), rgba(0, 0, 0, 0.219)), url(../../images/06-banner/banner-background.png);
        background-position: top;
        background-size: cover;
    }

    .banner__header {
        width: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        background: rgba(2, 3, 94, 0.164);
        padding: 0.625rem;
    }
}