.hero {
    display: flex;
    padding-top: 81px;
    padding-bottom: 60px;
    background-color: var(--secondary-bg);
    font-family: var(--heading-font);
}

.hero__left {
    width: 58.33%;
    padding-top: calc(20px + (85 - 20) * (100vw - 400px) / (1366 - 400));
    padding-bottom: calc(20px + (124 - 20) * (100vw - 400px) / (1366 - 400));
}

.hero__right {
    width: 41.7%;
    object-fit: cover;
    padding-right: 8.3%;
}

img {
    display: block;
    max-width: 100%;
    width: 100%;
}

@media screen and (min-width: 1920px) {
    .hero {
        padding-top: 81px;
        padding-bottom: 60px;
    }

    .hero__left {
        padding-top: 74px;
        padding-bottom: 124px;
    }
    
}

@media screen and (max-width: 1366px) {
    .hero {
        padding-top: clamp(20px, 6vw, 81px);
        padding-bottom: clamp(20px, 6vw, 60px);
    }
}

@media screen and (max-width: 881px) {
    .hero__right {
        padding-right: 0;
    }

    .hero__right img {
        height: 100%;
    }
}

