.follow {
    padding-top: 6.25rem;
    padding-bottom: 4.375rem;
    background-color: var(--grey-light);
    text-align: center;
}

.follow__header { 
    padding-bottom: 3.75rem;
}

.follow__instagram-products {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 1.5rem;
 }

.instagram-product {
    position: relative;
 }

.instagram-product img{
    width: 100%;
 }

 @media screen and (max-width: 75rem) {
    .follow {
        padding-top: clamp(1.875rem, 12vw, 8.75rem);
        padding-bottom: clamp(1.875rem, 12vw, 8.75rem);
    }
    
    .follow__header {
        padding-bottom: clamp(1.25rem, 5vw, 3.75rem);
    }
}

 @media screen and (max-width: 52.5rem) {
    .follow__instagram-products {
        grid-template-columns: repeat(3, 1fr);
    }

 }

 @media screen and (max-width: 28.125rem) {
    .follow__instagram-products {
        grid-template-columns: repeat(2, 1fr);
    }

 }


.instagram-product--hover { 
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    transform: scale(0,0);
    background-color: rgba(0, 0, 0, 0.452);
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all .5s;
    opacity: 0;
    cursor: pointer;
}



.instagram-product {
    overflow: hidden;
}

.instagram-product:hover .instagram-product--hover {
    opacity: 1;
    transform: scale(1,1);
}

.follow .bxl-instagram {
    font-size: 2.625rem;
    color: var(--white);
 }