.subscribe {
    padding-bottom: 6.25rem;
    background-color: var(--grey-light);
}

.subscribe > header {
    text-align: center;
}

.subscribe form {
    margin-top: 5rem;
    display: flex;
    font-family: var(--text-type-font);
}

input[type="text"],
input[type="submit"] {
    border-bottom: 0.0625rem solid var(--black);
    text-transform: capitalize;
    padding: 0.625rem;
}

input[type="text"] {
    width: 50%;
    margin-left: 20%;
    outline: none;
    padding-left: 0.9375rem;
}

input[type="submit"] {
    width: 10%;
    margin-left: 1.6875rem;
    font-size: 1rem;
    cursor: pointer;
}

@media screen and (max-width: 75rem) {
    .subscribe {
        padding-bottom: clamp(0.625rem, 12vw, 6.25rem);
    }
}

@media screen and (max-width: 62.5rem) {
    .subscribe form {
        margin-top: clamp(1.25rem, 3vw, 5rem);
        display: flex;
        font-family: var(--text-type-font);
    }
}

@media screen and (max-width: 48rem) {
    .subscribe form {
        display: flex;
        flex-direction: column;
        padding: 1.25rem;
    }

    input[type="text"],
    input[type="submit"] {
        flex: 1;
        width: 100%;
        border: 0.0625rem solid var(--black);
        text-transform: capitalize;
        margin-left: 0;
        padding: 0.625rem;
        color: var(--black);
        margin-bottom: 0.9375rem;
    }
    
    input[type="submit"] {
        background-color: var(--black);
        color: var(--white);
    }
}