@use '../01-utils/variables';
@use '../01-utils/mixins';

.header { 
    background-color: var(--secondary-bg); 
    padding-top: clamp(1.25rem, 1.62vw, 1.9375rem);        // design    1920px - 31px     mobile - 20px
    position: relative;
    font-family: var(--secondary-font);
}

.header__top { 
    @include mixins.ai-center;
    border-bottom: 0.0625rem solid #E3E3E3;
    z-index: 10;
    position: relative;
}

.header__search__icon {
    cursor: pointer;
}

.ecommerce-logo { 
    width: 11.25rem;
    margin-left: 41.5%;
}

.user-details { 
    margin-left: auto;
    @include mixins.ai-center;
}

.user-account { 
    @include mixins.ai-center;
    margin-right: 1.5rem;
    cursor: pointer;
}

.user-cart {  
    @include mixins.ai-center;
    cursor: pointer;
}

.user-details i,
.user-cart i {
    margin-right: 0.5rem;
}

@media screen and (max-width: 85.375rem) {
    .header__bottom {
        padding-top: 0.9375rem;
    }
}

@media screen and (max-width: 55.0625rem) {
    .header__top {
        display: flex;
    }

    .header__search {
        order: 1;
        margin-left: auto;
    }

    .ecommerce-logo {
        order: 0;
        margin-left: inherit;
    }

    .user-details {
        display: none;
    }

}