.footer {
    padding-top: 8.75rem;
    font-family: var(--secondary-font);
}

.footer__top {
    padding-bottom: 6.625rem;
    display: flex;
    gap: 6.27%;
}

.footer__company {
    width: 40%;
}

.footer__company__logo {
    width: 11.25rem;
    height: 2.125rem;
}

.footer__company__p { 
    padding-top: 1.875rem;
    padding-bottom: 2.4375rem;
    line-height: 180%;
}

.footer-social {
    display: flex;
}

.footer__social > i {
    font-size: 1.25rem; 
    color: var(--black);
}

.footer__social > i:not(last-child) {
    margin-right: 2.25rem;
}

.footer__columns {
    display: flex;
    width: 60%;
    justify-content: space-around;
}

.footer__col {
    padding: 0.625rem;
}

.footer__col ul {
    margin-top: 1.5625rem;
}

.footer__col ul li{
    line-height: 1.5rem;
    margin-bottom: 0.75rem;
}

.footer__copyright {
    display: flex;
    justify-content: space-between;
    padding-top: 0.875rem;
    padding-bottom: 0.875rem;
    background-color: var(--grey-dark);
    color: var(--white);
}

@media screen and (max-width: 75rem) {
    .footer { 
        padding-top: clamp(1.25rem, 12vw, 8.75rem);

    }
    .footer__top { 
        padding-bottom: clamp(1.25rem, 12vw, 6.625rem);
    }
}

@media screen and (max-width: 38.375rem) {
    .footer__top {
        flex-direction: column;
    }
    .footer__company,
    .footer__columns {
        width: 100%;
    }

    .footer__company {
        margin-bottom: 1.875rem;
    }
}


@media screen and (max-width: 25rem) {
    .footer__company {
        width: 90%;
    }
    
    .footer__columns {
        flex-direction: column;
    }
    
    .footer__col__ul {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }
}

