@use '../01-utils/variables';

h1 {
    // font-size: calc( 26px + (74 - 26) * ((100vw - 400px) / (1919 - 400)));
    font-size: calc( 1.625rem + (4.625 - 1.625) * ((100vw - 25rem) / (119.94 - 25)));
    margin-bottom: clamp(0.9375rem, 3vw, 3.25rem)
}

// h2 { font-size: calc( 22px + (45 - 22) * (100vw - 400px) / (1800 - 400)); }
h2 { font-size: calc( 1.375rem + (2.8125 - 1.375) * (100vw - 25rem) / (112.5 - 25)); }


// .big { font-size: calc(18px + (30 - 18) * ((100vw - 400px) / (1919 - 400))); }
.big { font-size: calc( 1.125rem + (1.875 - 1.125) * ((100vw - 25rem) / (119.94 - 25))); }



.hero__header__p {
    line-height: 180%;
    margin-bottom: clamp(0.9375rem, 3vw, 4.125rem);
    width: 83%;
}


@media screen and (min-width: 120rem) {
    h1 { 
        font-size: 4.625rem;
        margin-bottom: 3.25rem;
    }
    
    h2 { font-size: 2.8125rem; }

    .big { font-size: 1.875rem; }

    .hero__header__p {
        font-size: 1.875rem;
        margin-bottom: 4.125rem;   
    }
}

@media screen and (max-width: 25rem) {
    h1 { 
        font-size: 1.625rem;
        margin-bottom: 0.9375rem;
    }
    
    h2 { font-size: 1.375rem;    }

    .big { font-size: 1.125rem; }

    .hero__header__p {
        font-size: 1rem;
        margin-bottom: 0.9375rem;
    }
    
}

















// =============================================================== 
// =============================================================== 
// =============================================================== 
// =============================================================== 
// =============================================================== 
// =============================================================== 
// =============================================================== 
// =============================================================== 
// h2 { font-size: calc(22px + (45 - 22) * (100vw - 400px) / (1200 - 400)); }
// h4 { font-size: 16px; } //footer list title
// .big { font-size: calc(18px + (30 - 18) * (100vw - 400px) / (1800 - 400)); }



// @media screen and (max-width: 75.0625rem) {
//     h2 { font-size: 2.8125rem; } 
// }

// @media screen and (max-width: 25rem) {
//     h2 { font-size: 1.375rem; }
//     .big { font-size: 1.125rem; }
// }

h1, 
h2, 
h3, 
h4, 
h5 {
    font-family: var(--heading-font);
}

.header__top {
    font-size: 0.875rem;
    color: var(--black);
} 

// #########################################################################
// #########################################################################
// #########################################################################
footer 
h4 {
    font-family: var(--heading-font);
    font-weight: 500;
}

.footer ul li a { 
    font-size: 0.875rem;
    font-family: var(-text-type-font);
}


@media screen and (max-width: 25rem) {
    h3, h4 {
        font-size: 0.875rem;
    }
    
    .footer h3, h4 {
        background-color: var(--grey-light);
        padding: 5px;
    }
}
// #########################################################################
// #########################################################################
// #########################################################################